<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/client/static/images/favicon.png" type="image/x-icon">
    <title>Nic Markram - Developer Portfolio</title>
    <link rel="stylesheet" href="/client/static/styles.css">
</head>

<body class="light-mode">
    <nav class="sidebar">
        <div class="toggle-container">
            <label class="toggle-switch">
                <input type="checkbox" id="mode-toggle">
                <span class="slider"></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="#home" class="home-link"><span>&#8593;</span></a>
            <a href="#about"><span>About</span></a>
            <a href="#experience"><span>Experience</span></a>
            <a href="#projects"><span>Projects</span></a>
            <a href="#contact"><span>Contact</span></a>
        </div>

        <div class="socials">
            <a href="https://www.instagram.com/nicmarkram"><img src="/client/static/images/socials/insta.png"
                    alt="Instagram" class="social-icon"></a>
            <a href="https://github.com/markramn"><img src="/client/static/images/socials/github.png" alt="GitHub"
                    class="social-icon"></a>
            <a href="https://www.linkedin.com/in/nicholasmarkram/"><img src="/client/static/images/socials/linkedin.png"
                    alt="LinkedIn" class="social-icon"></a>
        </div>
    </nav>

    <div class="content">
        <div class="scroll-indicator">&#x25BC;</div>
        <section id="home" class="landing">
            <div class="landing-left">
                {{ .SVGContent }}
                <p>South Africa</p>
            </div>
            <div class="landing-right">
                <div class="tech-stack" id="techStack"></div>
                <div class="intro">
                    <h1 class="title" data-text="_Nic Markram.">_Nic Markram.</h1>
                    <p class="subtitle">Engineer & Data Scientist</p>
                    <button href="#contact" id="contactMe" class="contact-button">Contact Me</button>
                </div>
            </div>
        </section>

        <section id="about" class="home-section about">
            <div class="section-header">
                <h2 class="section-title">About</h2>
            </div>
            <div class="content-container">
                <div class="about-content">
                    <div class="about-image">
                        <img src="/client/static/images/about/profile_picture.png" alt="Nic Markram">
                    </div>
                    <div class="about-text">
                        <div class="text-block left">
                            <p>Hey! I'm Nic Markram. I'm a South African born Data Scientist & Software Engineer. I
                                specialize in big data analytics, architecting & developing end-to-end data processing
                                solutions & backend development.</p>
                        </div>
                        <div class="text-block right">
                            <p>I currently lead a technical team that's developed our analytics product from scratch, to
                                where we now deliver to over 50 corporate
                                clients. I have also architected and working towards the launch of our new analytics
                                product by the end of 2024.</p>
                        </div>
                        <div class="text-block left">
                            <p>I'm an adventurer at heart so, when I'm not head down on a project, I am out looking for
                                new views & vistas. I'm a passionate sportsman and love being active.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="experience" class="home-section experience">
            <div class="section-header">
                <h2 class="section-title">Experience</h2>
            </div>
            <div class="content-container">
                <p>Experience content goes here</p>
            </div>
            <div class="section-footer">
                <button class="see-more">See More</button>
            </div>
        </section>

        <section id="projects" class="home-section projects">
            <div class="section-header">
                <h2 class="section-title">Featured Projects</h2>
            </div>
            <div class="content-container">
                <div id="projectsGrid" class="projects-grid">
                    <!-- Projects will be dynamically inserted here -->
                </div>
            </div>
            <div class="section-footer">
                <button class="see-more">See More</button>
            </div>
        </section>

        <section id="contact" class="home-section contact">
            <div class="section-header">
                <h2 class="section-title">Contact</h2>
            </div>
            <div class="content-container">
                <form id="contact-form" class="contact-form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <button type="submit" class="submit-button">Send Message</button>
                </form>
            </div>
        </section>
    </div>

    <div class="footer"></div>

</body>

<script src="/client/static/script.js"></script>
<script src="/client/static/light-mode-switch.js"></script>
<script src="/client/static/contact.js"></script>

</html>